
.App,
.nav-area {
  margin:0 auto;
  width:80%;
  background-color: rgb(245, 245 , 237);
}
ul {
  background-color: rgb(203, 179, 220);
  list-style: none;
  padding: 8px 0;
}
li:hover {
  cursor: pointer;
}
li a {
  text-decoration: none;
}
.menuItem {
  display: inline-block;
  margin-left: 14px;
  padding: 8px;
}
ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  display: block;
  margin-top: 5px;
  padding-left: -20px;
}
.subMenu {
  position: absolute;
  background-color: rgb(203, 179, 220);
  transition: all 0.5s ease;
  display: none;
}
.subItem {
  padding: 8px;
  border-top: 1px solid rgb(194, 205, 201);
}